body {
  background-color: #040d14;
  color: #fafafa;
}
.btn-menu {
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
}
.coin-close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  z-index: 10;
}
.hidden {
  display: none;
}
#menu-body {
  position: absolute;
  background-color: #303032;
  height: 100vh;
  width: 100vw;
  z-index: 20;
  padding-top: 60px;
}
input {
  width: 50%;
  margin: 5px;
  padding: 10px;
}
select {
  height: 40px;
  padding: 10px;
  margin-bottom: 5px;
}
label {
  margin: 10px;
 font-size: 1.5rem;
}
.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(33, 206, 153);
  height: 150px;
  padding: 20px;
  color: white;
}
.App-header.red {
  background-color: rgb(216, 45, 45);
}
.App-header h1 {
  font-weight: 300;
  font-size: 2.5rem;
  margin: 5px;
}
.App-header h2 {
  color: #040d14;
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
}


.App-intro {
  font-size: large;
}
.Coins {
  background-color: #303032;
  margin: -40px 10px;
  text-align: left;
  padding: 0 20px;
}
.coin {
  border-bottom: 1px solid rgba(255,255,255,0.1);
  cursor: pointer;
  position: relative;
}
.coin span {
  color: #777;
}
.coin:after {
  content: "";
  display: table;
  clear: both;
}
.Overview {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transform-style: preserve-3d;
}

.float-right {
  float:right;
}
.float-left {
  float:left;
}
.text-right {
  text-align: right;
}
.text-left {
  text-align: left;
}
span.red {
  color: rgb(216, 45, 45);
}
span.green {
  color: rgb(33, 206, 153);
}
small {
 color: #777
}
.fa-info-circle {
  position: absolute;
  top: 25px;
  left: 50%;
  color: rgba(255,255,255,0.25);
  pointer-events: none;
}
